// Comfortaa
@font-face
  font-style: normal
  font-family: "Comfortaa"
  src: local("Comfortaa"), url("../lib/fonts/Comfortaa/Comfortaa-Regular.ttf") format("truetype");
  font-weight: normal;

@font-face
  font-style: normal
  font-family: "Comfortaa"
  src: local("Comfortaa"), url("../lib/fonts/Comfortaa/Comfortaa-Regular.ttf") format("truetype");
  font-weight: bold;

// Inconsolata
@font-face
  font-style: normal
  font-family: "Inconsolata"
  src: local("Inconsolata"), url("../lib/fonts/Inconsolata/Inconsolata-Regular.ttf") format("truetype");
  font-weight: normal;

@font-face
  font-style: normal
  font-family: "Inconsolata"
  src: local("Inconsolata"), url("../lib/fonts/Inconsolata/Inconsolata-Regular.ttf") format("truetype");
  font-weight: bold;

// Muli
@font-face
  font-style: normal
  font-family: "Muli"
  src: local("Muli"), url("../lib/fonts/Muli/Muli-Regular.ttf") format("truetype");
  font-weight: normal;

@font-face
  font-style: normal
  font-family: "Muli"
  src: local("Muli"), url("../lib/fonts/Muli/Muli-Bold.ttf") format("truetype");
  font-weight: bold;

@font-face
  font-style: italic
  font-family: "Muli"
  src: local("Muli"), url("../lib/fonts/Muli/Muli-Italic.ttf") format("truetype");
  font-weight: normal;

@font-face
  font-style: italic
  font-family: "Muli"
  src: local("Muli"), url("../lib/fonts/Muli/Muli-BoldItalic.ttf") format("truetype");
  font-weight: bold;
