<div class="vspacer"></div>
<div class="border_bottom shadow">
	<div class="center_children">
		<div class="gutters grid_min_auto">
			<div>
				<a href="/" class="no_link_styling">
					<img src="/media/img/logo.png" width="60px" class="white_image"></img>
				</a>
			</div>
			<div>
				<div>
					<a href="/" class="no_link_styling">
						<h1 class="no_margin">Richard JE Cooke</h1>
					</a>
				</div>
				<div class="flex">
					<div class="hspacer">
						<a href="/articles">Articles</a>
					</div>
					<div class="hspacer">
						<a href="/apps">Apps</a>
					</div>
					<div class="hspacer">
						<a href="/music">Music</a>
					</div>
					<div class="hspacer">
						<a href="/cv">C.V.</a>
					</div>
					<div>
						<a href="/atom.xml">RSS feed</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="vspacer"></div>
</div>
<div class="vspacer"></div>
