<div class="vspacer"></div>
<div class="border_bottom shadow">
	<div class="center_children">
		<div class="gutters grid_min_auto">
			<div>
				<img src="media/img/logo.png" width="60px" class="white_image"></img>
			</div>
			<div>
				<div>
					<h1 class="no_margin">Richard JE Cooke</h1>
				</div>
				<div class="flex">
					<div class="hspacer">
						<a href="articles/index.html">Articles</a>
					</div>
					<div class="hspacer">
						<a href="apps/index.html">Apps</a>
					</div>
					<div class="hspacer">
						<a href="music/index.html">Music</a>
					</div>
					<div  class="hspacer">
						<a href="cv/index.html">C.V.</a>
					</div>
					<div>
						<a href="rss/index.html">RSS feed</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="vspacer"></div>
</div>
<div class="vspacer"></div>
