<div class="block">&nbsp;</div>
<div class="container is-max-desktop">
	<div class="columns is-mobile  ">
		<div class="column is-narrow">&nbsp;</div>
		<div class="column is-narrow">
			<img src="media/img/logo.png" width="60px" class="white_image"></img>
		</div>
		<div class="column">
			<div>
				<h1>Richard JE Cooke</h1>
			</div>
			<div class="columns is-mobile ">
				<div class="column  is-narrow">
					<a href="articles.html">Articles</a>
				</div>
				<div class="column  is-narrow">
					<a href="apps.html">Apps</a>
				</div>
				<div class="column  is-narrow">
					<a href="music.html">Music</a>
				</div>
				<div class="column is-narrow">
					<a href="cv.html">C.V.</a>
				</div>
				<div class="column  is-narrow">
					<a href="rss.html">RSS feed</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="block">&nbsp;</div>