---
page_title: Home
layout: layout_page.html
---
<div class="vspacer"></div>
<div class="full_column">
<!-- ME -->
	<div class="grid_min_auto">
		<div class="">
			<img src="/_media/img/profilepic_300x300.png" class="round" width="150px"></img>
		</div>
		<div class="">
			<p>
				Hi, I'm Richard - professional programmer and amateur composer.
			</p>
			<p>
				Follow my music on
				<a href="https://music.youtube.com/channel/UCB9ymHb9ZybTNH1GmQD0FYg" target="_blank" rel="noopener noreferrer">
				YouTube</a>, <!-- main channel: https://www.youtube.com/channel/UC54C1xWcFys14onrcPveOfw -->
				my blog on <a href="/atom.xml">RSS</a> in your news reader,
				or <a href="mailto:richard.j.e.cooke@gmail.com">email me</a>.
			</p>
		</div>
		<div class="vspacer"></div>
	</div>
<!-- ARTICLES -->
	<div class="vspacer"></div>
	<div>
		<h2>Articles</h2>
			{% for year, yearPosts in collections.postsByYear %}
				<h3>{{ year }}</h3>
				<ul>
					{% for post in yearPosts | reverse %}
					<li>
						<a href="{{post.url}}">
							{{- post.data.title }}
						</a>
					</li>
					{% endfor %}
				</ul>
			{% endfor %}
	</div>
</div>