@import "./normalize.css";
@import "./prism-okaidia.css";

/* variables  ------------------------------------------------ */
:root
{
	/* color */
	--html_bgcolor: hsl(0, 0%, 13%);
	--bgcolor_lighter: hsl(0, 0%, 18%);
	--footer_bgcolor: hsl(0, 0%, 20%);
	--border_color: hsl(0, 0%, 5%);
	--text_color_dark: hsl(0, 0%, 50%);
	--text_color: hsl(0, 0%, 80%);
	--link_color: hsl(45, 100%, 50%);
	--link_brighten_color: hsl(35, 100%, 90%);
	--heading_color: hsl(0, 0%, 90%);
	--shadow_color: hsl(0, 0%, 10%);
	/* layout */
	--font-size: 18px;
	--gutter_width: 2rem;
	--hspacer: 1.5rem;
	--line-height: 1.4em;
	--reading_width: 42rem;
	--space_above_heading: 3rem;
	--space_below_heading: 1rem;
	--vspacer: 2rem;
}

/* elements  ------------------------------------------------- */
* {	font-family: 'Mulish', sans-serif; }
a, .link {	color: var(--link_color); text-decoration: none; word-break: break-word; }
a.no_link_styling { color: inherit; }
a:hover, a.no_link_styling:hover {color: var(--link_brighten_color);}
body
{
	border-top: 1px solid var(--border_color);
	background-color: transparent;
	color: var(--text_color);
	font-size: var(--font-size);
	height: 100%;
	line-height: var(--line-height);
}
blockquote { margin: 1em 0 0 0; border: 2px solid var(--text_color_dark); padding-left: 1.5rem; padding-right: 1.5rem; }
code {	font-family: 'Ubuntu Mono', monospace; color: var(--text_color_dark); }
html { overflow-y: auto; height: 100%; background-color: var(--html_bgcolor); }
img { max-width: 100%; }
h1,h2,h3,h4,h5,h6
{ 	font-family: 'Comfortaa', sans-serif; color: var(--heading_color);
	margin-top: var(--space_above_heading); margin-bottom: var(--space_below_heading);
	line-height: var(--line-height);
}

/* common ------------------------------------------------- */
.bold { font-weight: bold;}
.border_bottom { border-bottom: 1px solid var(--border_color); }
.border_top { border-top: 1px solid var(--border_color); }
.center_children { display: flex; justify-content: center; }
.center_vertically { align-items: center; }
.debug { background-color: red; }
.full_column { padding: 0 var(--gutter_width); max-width: var(--reading_width); margin: 0 auto; }
.flex { display: flex; }
.gutters { padding: 0 var(--gutter_width); }
.h1_margin_bottom { margin-bottom: 0.5rem; }
.hspacer { margin-right: var(--hspacer); }
.no_margin { margin: 0 0 0 0; }
.round { border-radius: 50%;}
.shadow { box-shadow: 0px 10px 10px 0px var(--shadow_color); } /* x y blur spread color */
.vspacer { height: var(--vspacer); }
.vspacer::before { content: " " }
.white_image { filter: saturate(0%) brightness(130%); }

/* footer ------------------------------------------------- */
body > footer { position: sticky; top: 100vh; }
footer { background-color: var(--footer_bgcolor); }

/* header ------------------------------------------------- */
.title { display: inline; line-height: 1em; margin: 0.4rem 0 0.4rem 0.4rem;}
.title_container { display: flex; }

/* home -- ------------------------------------------------- */
.grid_home { display: grid;	grid-template-columns: 150px 1fr;	column-gap: 1rem; }

/* cv ----------------------------------------------------- */
.grid_min300 { display: grid; grid-template-columns: repeat(auto-fill, 300px); gap: 4rem; }
.grid_experience
{
	display: grid;
	grid-template-columns: minmax(5rem, 1fr) minmax(10rem, 2fr) minmax(10rem, 5fr) minmax(6rem, 2fr);
	overflow-x: auto;
}
.grid_experience div { word-break: normal; padding-right: 1rem; }

.grid_experience > div:nth-child(4n-3),   /*  first 3 columns  */
.grid_experience > div:nth-child(4n-2),
.grid_experience > div:nth-child(4n-1) { padding-right: 1rem; }

.grid_experience > div:nth-child(8n-7),    /*  background dark rows  */
.grid_experience > div:nth-child(8n-6),
.grid_experience > div:nth-child(8n-5),
.grid_experience > div:nth-child(8n-4)   { padding-top: 2rem; padding-bottom: 2rem; }

.grid_experience > div:nth-child(8n-3),    /*  background light rows   */
.grid_experience > div:nth-child(8n-2),
.grid_experience > div:nth-child(8n-1),
.grid_experience > div:nth-child(8n-0)   { background: var(--bgcolor_lighter); }

/* post ------------------------------------------------- */
.post_container img { max-width: 100%;}
.post_title { margin-bottom: 0.5rem; }
.post_date { color: var(--text_color_dark); }